<nav class="navbar fixed-bottom navbar-dark bg-dark sticky-bottom">
  <a class="navbar-brand" style="border-style: 1px solid " href="#">Plan</a>
  <a class="navbar-brand" href="#">Do</a>
  <a class="navbar-brand" href="#">Check</a>
  <a class="navbar-brand" href="#">Act</a>
  <a class="navbar-brand" href="#">Menu</a>
</nav>
