<div class="layout layout-nav-top">
  <div class="navbar navbar-expand-lg bg-light navbar-light sticky-top">
    <a class="navbar-brand" href="index.html">
      <img alt="Pipeline" src="assets/img/logo-obeya.png" class="" style="width:45px"/>
    </a>
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-block d-lg-none ml-2">
        <div class="dropdown">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar" />
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="nav-side-user.html" class="dropdown-item">Profile</a>
            <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
            <a href="#" class="dropdown-item">Log Out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
      <ul class="navbar-nav">

        <li class="nav-item">

          <a class="nav-link" href="index.html">Home</a>

        </li>

        <li class="nav-item">

          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="nav-dropdown-2">Why Obeya?</a>
            <div class="dropdown-menu" aria-labelledby="nav-dropdown-2">

              <a class="dropdown-item" href="pages-app.html">App Pages</a>

              <a class="dropdown-item" href="pages-utility.html">Utility Pages</a>

              <a class="dropdown-item" href="pages-layouts.html">Layouts</a>

            </div>
          </div>

        </li>

        <li class="nav-item">

          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="nav-dropdown-3">Impact</a>
            <div class="dropdown-menu" aria-labelledby="nav-dropdown-3">

              <a class="dropdown-item" href="components-bootstrap.html">Delivery</a>

              <a class="dropdown-item" href="components-pipeline.html">Cost</a>

              <a class="dropdown-item" href="components-pipeline.html">Quality</a>

              <a class="dropdown-item" href="components-pipeline.html">Morale</a>

              <a class="dropdown-item" href="components-pipeline.html">Safety</a>

            </div>
          </div>

        </li>

        <li class="nav-item">

          <a class="nav-link" href="documentation/index.html">Prices</a>

        </li>

        <li class="nav-item">

          <a class="nav-link" href="documentation/changelog.html">Contact</a>

        </li>

      </ul>
      <div class="d-lg-flex align-items-center">
        <form class="form-inline my-lg-0 my-2">
          <div class="input-group input-group-dark input-group-round">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">search</i>
              </span>
            </div>
            <input type="search" class="form-control form-control-dark" placeholder="Search" aria-label="Search app" aria-describedby="search-app">
          </div>
        </form>
        <div class="dropdown mx-lg-2">
          <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="newContentButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Obeya
          </button>
          <div class="dropdown-menu" aria-labelledby="newContentButton">
            <a class="dropdown-item" href="#">Team</a>
            <a class="dropdown-item" href="#">Project</a>
            <a class="dropdown-item" href="#">Task</a>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="dropdown">
            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar" />
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="nav-side-user.html" class="dropdown-item">Profile</a>
              <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
              <a href="#" class="dropdown-item">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
          <section class="pt-4 pt-lg-5">
            <div class="row">
              <div class="col-md-6">

                <img alt="Pipeline" src="assets/img/recurso1.png" class="mb-3" style="width:80%"/>

              </div>

              <div class="col-md-6 justify-content-between">
                <h3 class="mb-1" style=" font-family:'merriweather' ">Obeya</h3>
                <h1 class="display-3 mb-3"> Unlocking Potential </h1>
                <p class="lead">
                  The first step-by-step application based on Lean Toyota to continuously improve your business performance
                </p>
                <button class="btn btn-lg btn-success" type="button" id="newContentButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Take a tour
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="row justify-content-center">
          <center>
            <h1>Simple rules for a complex world</h1>
            <p class="lead"> Make teams productive never was so easy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </center>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
          <section>
            <div class="row">

              <div class="col-md-6">
                <div class="card mb-3">
                  <a href="nav-side-team.html">

                  </a>
                  <div class="card-body">
                    <a class="card-title h6" href="nav-side-team.html">Team</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card mb-3">
                  <a href="nav-side-team.html">

                  </a>
                  <div class="card-body">
                    <a class="card-title h6" href="nav-side-team.html">Team</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card mb-3">
                  <a href="nav-side-team.html">

                  </a>
                  <div class="card-body">
                    <a class="card-title h6" href="nav-side-team.html">Team</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card mb-3">
                  <a href="nav-side-team.html">

                  </a>
                  <div class="card-body">
                    <a class="card-title h6" href="nav-side-team.html">Team</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card mb-3">
                  <a href="nav-side-team.html">

                  </a>
                  <div class="card-body">
                    <a class="card-title h6" href="nav-side-team.html">Team</a>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card mb-3">
                  <a href="nav-side-team.html">

                  </a>
                  <div class="card-body">
                    <a class="card-title h6" href="nav-side-team.html">Team</a>
                  </div>
                </div>
              </div>


            </div>
          </section>
        </div>
      </div>
    </div>

  </div>

</div>
