
<div class="layout layout-nav-top">
  <%= render 'navbar' %>
  <div class="main-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
          <section class="pt-4 pt-lg-5">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag 'recurso1.png', style:'width:80%', class:'mb-3'%>
              </div>
              <div class="col-md-6 justify-content-between">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="mb-1" style=" font-family:'merriweather' ">Obeya</h3>
                    <h1 class="display-3 mb-3"> Unlocking Potential </h1>
                    <p class="lead">
                      The first step-by-step application based on Lean Toyota to continuously improve your business performance
                    </p>
                    <button class="btn btn-lg btn-success" type="button" id="newContentButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Take a tour
                    </button>
                  </div>
                  <div class="col-md-12">
                    <small>Don't have an account yet? <a href="#">Create one</a>
                  </div>

                </div>


              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
